<li id="micropost-<%= work_out.id %>">
  <span class="user"><%= link_to work_out.user.name, work_out.user %></span>
  <span class="content"><%= work_out.name %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(work_out.created_at) %> ago.
  </span>
</li>
