<% provide(:title, 'All WorkOuts') %>
<h1>トレーニング履歴</h1>
<div class ="new_work">
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">date</th>
      <th scope="col">training</th>
      <th scope="col">weight</th>
      <th scope="col">rep</th>
      <th scope="col">set</th>
    </tr>
  </thead>
  <tbody>
  <%= render @work_outs %>
  </tbody>
</table>

