<%= form_for(@training_type) do |f| %>
    <div class="work_menu_field">
        <%= f.text_field :name, placeholder: "新規トレーニング種類" %>
        </div>
        <%= f.submit "新規トレーニング種類登録", class: "btn btn-primary" %>
<% end %>